* {
  box-sizing: border-box;
}
h1 {
  
  text-transform: uppercase;

}

h2 {
  
  text-transform: uppercase;

}
h3 {
  
  text-transform: uppercase;

}

.header{
  display:grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 50px;
  background-color: #ffffff;
}

.header__links-list{
  display: flex;
  flex-direction:row;
  gap: 25px;
  list-style: circle;
  
}

.header__link{
  font-size: 18px;
  line-height: 100%;
}
.header__link_active .header__link{
  text-decoration: none;
  
  
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header_logo{
  display: block;
  width: 148px;
  height: 105px;
}
.header__logo-image{
  width: 100%;
}

.address{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width:240px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  display: flex;
  justify-self:end;
  flex-direction:column;
  align-items:flex-start;

}


.cover{
  position:relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;


  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: -1; 
}

.cover__title {
  width: 100%;
  margin-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;

  

}

.aligned-text {
  display: block;

}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 30%; 
}


.no-letter-spacing {
  letter-spacing: 0; 
}



.cover__description {
  position: absolute;
  top: 656px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;

}


.cover__description-text {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255);
  font-size: 22px;
  line-height: 28px;
  word-spacing: 15px; 
  letter-spacing: 0%; 
  text-align: left; 
}

.bet-button {

  border: none;
  padding: 0;
  margin: 0;
  background: none;
 
  width: 256px;
  height: 51px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF; 
  font-family: 'Raleway', sans-serif;
  font-weight: 500; 
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0%; 
}

.lots {
  margin-top: 175px;
  margin-left: 24px;
  margin-right: 24px;

}
.lots__heading {
  width: 121px;
  height: 47px;
  margin-left: 40px;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 700; 
  font-size: 40px;
  line-height: 100%; 
  letter-spacing: 0;
  color: #000000;
}



.lots__card-list {
  
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 25px;
  padding-top: 27px;
}

.lots__card-list-item {
  width: 100%;
  min-height: 596px; 
  box-sizing: border-box;
}

.card-link,
.card {
  height: 100%;
  color: inherit; 
  display: block; 
  text-align: left;
  color: #ffffff;
  text-decoration: none;

}

.card {
  position: relative;
  width: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content:space-between; 
  box-sizing: border-box;
  overflow: hidden;  
  z-index: 0;
}


.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title,
.card__text {
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 2;
   
  
  
}

.card__title{
  padding-top: 47px;
  font-weight: 700; 
  font-size: 22px;
  line-height: 120%; 
  letter-spacing: 0;
  text-decoration:underline;
}

.card__text{
  padding-bottom: 40px;
  font-weight: 400; 
  font-size: 20px;
  line-height: 120%; 
  letter-spacing: 0;
  text-decoration: none;

}



.lots__look-more-link {
  padding: 30px 0px 0px 40px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000000; /
}

.about {
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
}



.about__grid {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px; 
  align-items: start; 
}


.about__column--left {
  padding-left: 47px;
  padding-top: 35px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.about__logo {

  width: 240px; 
  height: 240px; 
  background-color: #000000; 
  border-radius: 50%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


.about__logo-image {
  width: 148px; 
  height: 114px;
  object-fit: contain; 
}


.about__column--right {
  display: flex;
  flex-direction: column;
}

/* Заголовок секции */
.about__title {
  padding: 135px 0px 150px 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #000000;
 
}

/* Обёртка для параграфов */
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color:#000000;
}


.footer {
  width: 100%;
  height: 180px;
  padding:180px 0px 0px 0px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.footer__column--left {
  justify-self:start;
  padding-left: 50px;
  padding-bottom: 50px;
}


.footer__column--center {
  display: flex;
  justify-content: center; 
  
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;

}


.footer__menu-link_active .footer__menu-link{
  color: #000000; 
  text-decoration: none; 
}


.footer__column--right {
  padding-right: 50px;
  display: flex;
  justify-content: flex-end; 
  
  
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  
}
.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
 
 }


